@import url('https://fonts.googleapis.com/css?family=Pridi');
.side{
    margin-top:20px;
}
.side {
    h1{
         text-align: center;
    font-family: 'Pridi', serif;
    background: -webkit-linear-gradient(#3D7EAA, #3D7EAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    }
    span{
        background: #667db6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
 
}