@import url('https://fonts.googleapis.com/css?family=Stylish'); 
.jumbotron {
    background-color:transparent!important;
    text-align:center!important;
    font-size: 72px;
  background: -webkit-linear-gradient(#3D7EAA, #3D7EAA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation{
    border-bottom:1px solid;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    a{
        color:white!important;
    }
}
.carousel-class{
    padding-left:15px !important;
    padding-right:15px;
  .carousel-item{
    img{
        max-height: 550px;
    }
    h3{
        color:white;
        font-family: 'Stylish', sans-serif;
    }
    p{
        font-family: 'Stylish', sans-serif;
    }
}  
}
